@import "./utils/_variables.scss";
@import "./base/_base.scss";
@import "./layout/_layout.scss";
@import "./pages/home-pages";
@import "./pages/page-la-note-enchantee.scss";
@import "./pages/page-le-chic-a-la-francaise.scss";
@import "./pages/page-le-delice-des-papilles.scss";
@import "./pages/page-la-palette-du-gout";
@import "./components/_components.scss";
@import "./pages/mentions-legales";