.header{
    width: auto;
    height: auto;
    background-color: $color-primary;
    margin-bottom: 50px;
    &__logo{
        display: flex;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.footer{
    background-color: $color-primary;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    &__element{
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.5em;
    }
}

body{
    margin: 0;
}

@media screen and (max-width: 320px){
    .header__logo{
        width: 80%;
        margin: auto;
    }
}

/*animation wiggle des éléments du footer*/

.wiggle-effect{
  &:hover{ 
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }
}

@media screen and (max-width: 1024px){
    .header{
        width: auto;
        min-width: 700px;
    }
    .footer{
        width: auto;
    }
}
@media screen and (max-width: 475px){
    .header{
        min-width: 320px;
    }
}

@media screen and (max-width: 320px){
    .footer{
        max-width: 320px;
    }
}

