.header{
    width: 100%;
    height: auto;
    background-color: $color-primary;
    margin-bottom: 50px;
    &__logo{
        display: flex;
        margin: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.footer{
    background-color: $color-primary;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    &__element{
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        color: $color-secondary;
        text-decoration: none;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 475px){
    .header{
        width: 207%;
    }
}
