.btn{
        display: flex;
                &__soon--style{
                text-align: center;
                font-size: 2em;
                border-radius: 10px;
                width: 350px;
                height: 60px;
                background-color: $color-primary;
                color: $color-secondary;
                margin: auto;
                }
}