.btn{
    margin-top: 5%;
    display: flex;
        &__soon--style{
        text-align: center;
        font-size: 2em;
        border-radius: 10px;
        width: 350px;
        height: 60px;
        background-color: $color-primary;
        color: $color-secondary;
        margin: auto;
        }
}

.btn-animation {
	position:relative;
	text-align:center;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	.dot {
		display:inline-block;
		width:12px;
		height:12px;
		border-radius:50%;
		margin-right:3px;
		background:$color-secondary;
		animation: wave 1.3s linear infinite;

		&:nth-child(2) {
			animation-delay: -1.1s;
		}

		&:nth-child(3) {
			animation-delay: -0.9s;
		}
	}
}

@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}
@media screen and (max-width: 475px){
    .btn{
        width: 80%;
        margin: auto;
    }
}