.btn__soon--style{
        width: 350px;
        height: 55px;
        font-size: 2em;
        border-radius: 10px;
        background-color: $color-primary;
        color: $color-secondary;
        margin-bottom: 120px;
}