.menu__st{
    background-color: $light-pink;
    color: $rustic-red;
    h2{
        font-family: 'Devonshire', cursive;
        font-size: 2em;
        margin-top: 0px;
    }
    h3{
        font-family: 'Kalam', cursive;
        margin-top: 0px;
    }
}

.menu__snde{
    background-color: $light-magenta;
    color: $ocre;
    h2{
        font-family: 'Kurale', serif;
    }
    &-title--gradient{
        background: linear-gradient(90deg, rgba(199,116,19,1) 30%, rgba(143,90,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu__thd{
    background-color: $light-grey;
    color: $dodger-blue;
    h2{
        font-family: 'Dancing Script', cursive;
    }
    h3{
        font-family: 'Kalam', cursive;
    }
    &-title--gradient{
        background: linear-gradient(90deg, rgba(27,76,228,1) 15%, rgba(19,180,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu__fth{
    background-color: $egg-shell;
    color: $apple;
    h2{
        font-family: 'Kaushan Script', cursive;
    }
    h3{
        font-family: 'Kalam', cursive;
    }
    &-title--gradient{
        background: linear-gradient(90deg, rgba(104,184,82,1) 30%, rgba(190,255,127,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu-shadow{
    box-shadow: 0 0 7px #dddddd;
}

a{
    text-decoration: none;
}

.list-menu__card-title{
    h3{
        font-size: 2.2em;
    }
}

/* code réutilisable pour les menus */

.menu{
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    h1{
        text-align: center;
        font-size: 3em;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    &__page-title{
        text-align: center;
        padding-top: 50px;
        font-size: 1.5em;
    }
    &__page-list{
        height: 320px;
    }
    &__page-categories{
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;
    }
}

/* animation surlignement des titres */

.sliding-u-l-r-l {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: red;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: red;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


/* Responsive : code réutilisable pour les menus (tablette)*/

@media screen and (max-width: 1024px){
    .menu{
        width: 700px;
    }
}

@media screen and (max-width: 475px){
    .menu{
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 375px;
        &__page-bar{
            display: none;
        }
        &__page-dish{
            max-width: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        &__page-list{
            height: auto;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 320px){
    .menu{
        width: 320px;
        & h1{
            width: 320px;
        }
    }

}

