.main__block--menu{
    display: flex;
}

.menu{
    width: 500px;
}

/* Police et couleur du texte */
.st__menu{
    background-color: $light-pink;
    color: $rustic-red;
    &--logo{
        width: 20%;
    }
    &--h2{
        margin-top: 0px;
        font-family: devonshire, sans-serif;
    }
}

.snde__menu{
    background-color: $light-magenta;
    color: $ocre;
    &--h2{
        font-family: kurale, sans-serif;
    }
}

.trd__menu{
    background-color: $light-grey;
    &--inside{
        color: $dodger-blue;
    }
    &--h2{
        font-family: 'Dancing Script', cursive, sans-serif;
    }
}
