.menu{
    margin-bottom: 15%;
    &__title--black{
        color: black;
    }
    &__page-title--gradient{
        background: -webkit-linear-gradient(45deg,#C77413, #8F5AFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu__st{
    background-color: $light-pink;
    color: $rustic-red;
    h2{
        font-family: 'Devonshire', cursive;
        font-size: 2em;
        margin-top: 0px;
    }
    h3{
        font-family: 'Kalam', cursive;
        margin-top: 0px;
    }
}

.menu__snde{
    background-color: $light-magenta;
    color: $ocre;
    h2{
        font-family: 'Kurale', serif;
    }
}

.menu__thd{
    background-color: $light-grey;
    color: $dodger-blue;
    h2{
        font-family: 'Dancing Script', cursive;
    }
    h3{
        font-family: 'Kalam', cursive;
    }
}

.menu__fth{
    background-color: $egg-shell;
    color: $apple;
    h2{
        font-family: 'Kaushan Script', cursive;
    }
    h3{
        font-family: 'Kalam', cursive;
    }
}

.menu-shadow{
    box-shadow: 0 0 7px #dddddd;
}

.menu__page{
    max-width: 1180px;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    &-title{
        text-align: center;
    }
    &-list{
        max-width: 880px;
        margin: auto;
        margin-top: 5%;
    }
    &-dish{
        display: flex;
        justify-content: space-between;
    }
    &-bar{
        height: 10%;
    }
    &-categories{
    h3{
        margin-top: 4%;
    }
    img{
        width: 300px;
        margin-left: 0%;
            margin-right: 0%;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

a{
    text-decoration: none;
}

.list-menu__card-title{
    h3{
        font-size: 2.2em;
    }
}
