.menu{
    &__footer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    }
    &__footer--layout{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }
    &__footer-logo{
        width: 80px;
        height: 80px;
    }
    h2{
        padding-top: 10px;
        font-size: 2.5em;
    }
}

.menu__st{
    .menu__page-bar{
        width: 30%;
        height: 10%;
        padding-top: 15px;
    }
    .menu__page-dish{
        display: flex;
        justify-content: space-between;
        width: 880px;
        margin: auto;
    }
    p{
        font-family: 'devonshire', sans-serif;
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px){
    .menu__st{
        .menu__page-dish{
            width: 500px;
        }
    }
}

@media screen and (max-width: 475px){
    .menu__footer{
        width: 300px;
        padding-top: 50px;
    }
}