.menu__page{
    &--logo-1{
    width: 7.5%;
    }
    &--logo-2{
    margin-top: 0%;
    width: 5%;
    height: 5%;
    }
    &-title--size{
        font-size: 2em;
    }
}

.menu__st{
    margin-top: 0px;
    &-list{
        margin-top: 0px;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 15%;
    }
    &--footer{
        margin-top: 3%;
    }
    &--font-dish{
        font-family: 'Kurale', cursive;
        font-size: 1.5em;
    }
    &--font-price{
        font-family: 'Devonshire', cursive;
        font-size: 1.5em;
    }
}

.menu__st--footer{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 0%;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1024px){
.menu__page{
    &-bar{
        display: none;
    }
    &-categories{
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
}
}

@media screen and (max-width: 475px){
.menu{
    margin-left: 20%;
    margin-bottom: 25%;
    &__page{
        width: 600px;
        margin: auto;
    }
    &__page-list{
        margin: auto;
        width: 50%;
    }
    &__page-dish{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0px;
    }
}
}
