.menu__fth{
    .menu__page-bar{
        width: 30%;
        height: 10%;
        padding-top: 43px;
    }
    .menu__page-dish{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: auto;
    }
    .menu__page-list:nth-child(4){
        height: 550px;
    }
}

@media screen and (max-width: 1024px){
    .menu__fth
        .menu__page-dish{
            width: 550px;
        }
}