.main__block{
    margin: auto;
    max-width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu{
    width: 300px;
    height: 450px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 0 7px #dddddd;
    &__h3{
        font-size: 1.5em;
    }
    &__h3--style{
        font-family: kalam, sans-serif;
    }
}

.st__menu--inside{
    margin-top: 130px;
    text-decoration: none;
    color: $rustic-red;
}

.menu__inside{
    margin-top: 180px;
}