.list-menu{
    display: flex;
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
    justify-content: space-around;
        &__card{
            width: 350px;
            height: 450px;
            text-align: center;
        }
            &__card-title{
                margin-top: 50%;
                :hover{
                    transform: scale(1);
                }
            }
                &__card--logo{
                    width: 15%;
                }
}

.list-menu__card--red{
    margin-top: 40%;
}

section{
    margin-bottom: 150px;
}
