.menu__snde{
    .menu__page-bar{
        width: 30%;
        height: 10%;
        padding-top: 35px;
    }
    .menu__page-dish{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: auto;
    }
    &--pink{
        color: $pink;
    }
    &--blue{
        color: $blue;
    }
    .menu__page-list:nth-child(4){
        height: 550px;
    }
    p{
        font-family: 'Short Stack', cursive;
    }
}

@media screen and (max-width: 1024px){
    .menu__snde--orange h3{
        text-align: center;
    }
    .menu__snde{
        .menu__page-dish{
            width: 550px;
        }
    }
}

