.menu{
    display: flex;
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
    justify-content: space-around;
        &__home-page{
            width: 350px;
            height: 450px;
            text-align: center;
        }
            &__home-page--title{
                margin-top: 50%;
            }
                &__st--home-page-logo{
                    position: absolute;
                    width: 3.5%;
                    top: 32%;
                    left: 36%;
                }
                    &__page--logo-1{
                        width: 7.5%;
                    }
                    &__page--logo-2{
                        margin-top: 3%;
                    }
}

section{
    margin-bottom: 150px;
}
