.list-menu{
    display: flex;
    width: 750px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
        &__card{
            min-width: 350px;
            min-height: 450px;
            text-align: center;
        }
        &__card-title{
            margin-top: 50%;
            :hover{
                transform: scale(1);
            }
        }
        &__card--logo{
            width: 15%;
        }
}

.list-menu__card--red{
    margin-top: 40%;
}

.list-menu:nth-child(2){
}
section{
    margin-bottom: 150px;
    width: auto;
}

@media screen and (max-width: 1024px){
    section{
        width: auto;
    }
    .list-menu{
        
    }
}

@media screen and (max-width: 475px){
    section{
        margin-left: auto;
        margin-right: auto;
    }
    .list-menu{
        display: flex;
        flex-direction: column;
        width: auto;
        &__card{
            width: 90%;
            margin-left: auto;
            margin-right: auto;  
        }
        .menu__st, .menu__thd{
            margin-bottom: 50px;
        }
    }
}