$color-primary: #579C87;
$color-secondary: #FDCB46;
$light-pink: #FCDFDB; /* background first menu */
$light-magenta: #FFF5FE; /* background second menu */
$light-grey:#F9F9F9; /* background thrid menu */
$egg-shell: #FDFFFD; /* background fourth menu */
$rustic-red: #3C1218; /* color first menu */
$ocre: #C77413; /* color second menu */
$dodger-blue: #0887FB; /* color third menu */
$apple: #68B852; /* color fourth menu */


/* en faire une mixin */
.list-menu__card--zoom{
    :hover{
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
    opacity: 0.5;
    }
}
